body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 14px;
	margin: 0;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
}

/* Container*/

.container {
	width: 100%;
	max-width: 1047px;
	margin: 0 auto;
}

/* Intro*/
.intro {
	width: 100%;
	height: 100vh;
}
.intro__inner	{
	display: flex;
	justify-content: space-between;
	background: #F8FBFA;
	
}

.intro__text {
	width: 100%;
	max-width: 970px;
	margin-top: 144px;
	margin-left: 390px;
	line-height: 1.5;
	
}

.intro__title {
	font-size: 36px;
	font-weight: 700;
	color: #364844;
	width: 350px;
}

.intro__subtitle {
	font-size: 16px;
	color: #364844;
	width: 380px;
}

/* Header*/

.header {
	
	top:0
	left: 0;
	right: 0;
	width: 100%;
	z-index:1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	margin: 20px 0;
}
.header__left {
	display:flex;
	justify-content: space-between;
}

.header__right{
	display:flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* address*/

.address {
	display: inline-block;
	width: 100%;
	max-width: 135px;
	margin-left: 21px;
	margin-top: 15px;
}

.address__logo {
	float: left;
}

.address__city {
	margin-left: 15px;
	white-space: nowrap;
	color: #364844;
}
.address__street {
	margin-left: 15px;
	white-space: nowrap;
	color: #868686;
}

/* phone*/

.phone {
	display:flex;
	justify-content: space-between;
}

.phone__logo {
	margin-top: 9px;
}

.phone__number {
	color: #364844;
	margin-top: 11px;
	margin-left: 5px;
	margin-right: 35px;
	font-size: 16px;
}

.phone__reception {
	border-radius: 50px;
	background: #0DBC91;
	width: 196px;
	height: 43px;
	
}

.phone__reception__text {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	padding: 10px 23px;

}


/* Nav*/
.nav__main {
	background-color: #1FA181;
	height: 43px;
	
}

.nav {
	font-size: 16px;
	display: inline-block;
	vertical-align:top;
	margin-top: 10px;
}

.nav__link {
	text-decoration: none;
	color: #fff;
	margin: 0 30px;
	
}

.nav__link:nth-child(1) {
	margin-left: 0;
}
 li {
 	color: #1FA181;
 }

li span {
 	color: #364844;
 }

ul {
	padding: 0;
	margin-left: 20px; /* Отступ слева */
}


 /* CheckUp*/
 .checkUp {
 	display: flex;
 	
 	width: 1440px;
 	height: 440px;
 	
 	border-radius: 5px;
 	margin-left: 390px;
 	margin-top: 95px;
 	margin-bottom: 45px;
 	
 }

 .checkUpForman {
 	width: 50%;
 	max-width: 500px;
 	padding-left: 63px;
 	padding-top: 55px;
 	background-color: #E2F0EF;
 	background: cover;
 	
 }

.checkUp__new__price {
	display: inline-block;
	font-size: 20px;
	white-space: nowrap;
}

 .checkUp__title {
 	font-size: 38px;
 	font-weight: 700;
 	text-transform: uppercase;
 	color: #364844;
 }

 .checkUp__subtitle {
 	font-size: 22px;
 	color: #364844;
 }

.checkUp__list {
	
	font-size: 16px;
}



.checkUp__old__price {
	display: inline-block;
	font-size: 16px;
	line-height: 24px;
	color: #868686;
	text-decoration: line-through;
}

.checkUp__buttons {
	display: flex;
	margin-top: 26px;

}

.checkUp__sign {
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	color: #fff;
	border-radius: 50px;
	background: #0DBC91;
	width: 196px;
	height: 43px;
	text-align: center;
	padding: 10px 23px;
	
}
.checkUp__detailed {
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	color: #0DBC91;
	border: 1px solid #0DBC91;
	border-radius: 50px;
	width: 196px;
	height: 43px;
	text-align: center;
	padding: 10px 23px;
	margin-left: 15px;
}

.checkUp__img {
	border-radius: 0px 5px 5px 0px;
}

/* pages*/

.pages {
	display: flex;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto;
	
}

.page__count {
	font-size: 16px;
}

/* Footer*/
.footer {
	background: #08664F;
	margin-top: 100px;
	height: 144px;
}

.footer__inner {
	display: flex;
	justify-content:space-between;
	padding-top: 72px;
}

.footer__nav {
	font-size: 16px;
	line-height: 24px;
	
}

.footer__nav__link {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
}
 .footer__icons__main {
 	padding-left: 5px;
 }
